/*reset*/

*{
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
   
}

/*responsive*/

@media only screen and (min-width: 1024px) {
   
}
@media only screen and (min-width: 767px) and (max-width: 1023px) {
   
  }
  @media screen and (max-width: 767px){
    
  }



/*imagen flayer*/
body{background-color:#2B2B2B;}
*.imglogo{
margin: 20px;
    width: 100%;
    height: 500px;
    justify-content: center;
    justify-items: center;
}

/*texto-bienvenida*/

#texto-bienvenida {
    text-align: center; /* Centrar el texto */
    color: white; /* Color blanco para el texto */
    li;
}

#texto-bienvenida p {
    list-style: none;
    margin: 0; /* Eliminar márgenes predeterminados */
    padding: 0; /* Eliminar relleno predeterminado */
    line-height: 1.5; /* Espacio entre líneas */
}

/* seccion redes*/

#redes {
    display: flex;
    justify-content: center;
    align-items: center;
}

#redes ul {
    list-style-type: none;
    padding: 50px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#redes ul li {
    margin: 0 50px; /* Espacio entre los elementos */
}


/*cuadro de contrataciones*/

#Contactos {
    text-align: center; /* Centrar el texto */
}

.contenedor {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
}

.recuadro {
    width: 300px; /* Ancho del recuadro */
    padding: 20px;
    border: 1px solid #ccc; /* Borde para el recuadro */
    border-radius: 5px; /* Bordes redondeados */
}

/* Estilos para los nombres y números de contacto */
.nombre {
    font-weight: bold;
}

.numero {
    color: blue; /* Color del número */
}


/*adaptacion de descargas a celular*/

.conteiner {
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 50vh; 
}

.conteiner img {
    max-width: 60%; 
    height: auto; /* Altura automática */
}


.container img {
    max-width: 50%; /* 50% del ancho de la pantalla */
    cursor: pointer; /* Cambiar el cursor al pasar por encima */ /* Cambio de cursor */
}








/*texto de descargas*/

.descargastexto {
    text-align: center; /* Centrar el texto horizontalmente */
    margin: 0 auto; /* Centrar el elemento en la página */
    max-width: 600px; /* Ancho máximo del elemento para evitar que se extienda demasiado */
}

/*recuadro biografia*/ 

.recuadro {
    width: 400px; /* Ancho del recuadro */
    padding: 40px; 
    border: 2px solid #f3eeee;
    border-radius: 10px; /* Bordes redondeados */
    background-color: #968b8b; 
}

/* Estilos para los nombres y números */
.nombre {
    font-weight: bold; /* Texto en negrita */
}

.numero {
    color: #ecf0f3; /* Color azul */
}

.patex{ margin: 80px;}


/* botones*/

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: center;
    justify-items: center;
}

.boton {
    background-color: white; /* Color de fondo blanco */
    color: rgb(94, 84, 84); /* Color del texto */
    font-weight: 700;
    margin: 10px 30px;
    font-family: 'Futura Next Light', Arial, sans-serif;
    border: 2px solid transparent; /* Borde transparente inicialmente */
    border-radius: 5px;
    padding: 10px 20px;
    transition: all 0.5s ease; /* Transición suave para el efecto */
    cursor: pointer; /* Cambiar el cursor al pasar por encima */
}

.boton:hover {
    background-color: rgb(234, 240, 240); /* Cambiar el color de fondo al pasar por encima */
}

.boton:active {
    transform: translateY(2px); /* Efecto de desplazamiento hacia abajo al ser presionado */
    border-color: rgba(204, 2, 2, 0.5); /* Cambiar el color del borde al ser presionado */
}

/*titulos de htmls*/

.titulodehoja{
    display: flex  ;
    justify-content: center;
    justify-items: center;
    margin: 20px; ;
    font-style: oblique;
    font-family: 'Futura Next Light', Arial, sans-serif;
    font-size: 80px;
    letter-spacing: 5PX;
    color: #E6E6DD;}

    @keyframes aparecer {
        0% {
            opacity: 0;
            transform: translateY(-20px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
    
    .titulodehoja {
        font-size: 48px;
        font-weight: bold;
        color: #f8eeee;
        animation: aparecer 1s ease forwards;
    }
    
    .parrafos { color: #E6E6DD;;
        font-style: oblique; 
        text-align: center; /* Centrar el texto horizontalmente */
        margin: 0 auto; /* Centrar el elemento en la página */
        max-width: 600px; /* Ancho máximo del elemento para evitar que se extienda demasiado */  
    }

    
       
    
    

      /*footer */

footer{ display: flex;
     justify-content: center;
      justify-items: center;
      font-family: 'Futura Next Light', Arial, sans-serif
        margin: 50px;
         background-color: rgb(219, 208, 214);
        font-size: 30px;
    ;
font-style: oblique;}
    

    /*imagen del ep biografia*/
    @keyframes aparecer {
        0% {
            opacity: 0;
            transform: scale(0.5); /* Inicio de la animación: escala al 50% */
        }
        100% {
            opacity: 1;
            transform: scale(1); /* Fin de la animación: escala al 100% */
        }
    }
    
    .img-ep {
        display: flex;
        justify-content: center; 
        align-items: center; 
        height: 100vh; /* Altura del contenedor igual al 100% del viewport */
    }
    
    .i1 {
        max-width: 100%; /* Ajustar la imagen al ancho máximo del contenedor */
        max-height: 100%; 
        animation: aparecer 1s ease forwards; /* Aplicar la animación de aparición */
    }


/*imagenes de imagenes*/

.carrousel {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
}

.carrousel .fotos {
    display: grid; /* Usar grid para organizar las imágenes en una caja ordenada */
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Ajustar automáticamente el número de columnas según el tamaño del contenedor */
    grid-gap: 20px; /* Espacio entre las imágenes */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
}

.carrousel .fotos img {
    width: 100%; /* Ancho del 100% para que las imágenes se ajusten al ancho de su contenedor */
    height: auto; /* Altura automática para mantener la proporción de aspecto */
    transition: transform 0.3s ease; /* Transición suave al seleccionar la imagen */
}

.carrousel .fotos img:hover {
    transform: scale(1.1); /* Agrandar la imagen al pasar el cursor sobre ella */
    cursor: pointer; /* Cambiar el cursor al pasar por encima de la imagen */
}


/*foto proximo show*/

.fotoshow {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; 
    height: 100vh; /* Altura del contenedor igual al 100% del viewport */
}

.prox {
    max-width: 100%; /* Ajustar la imagen al ancho máximo del contenedor */
    max-height: 100%; /* Ajustar la imagen a la altura máxima del contenedor */
}
    /*chatapp*/

    /* Estilo del icono de WhatsApp flotante */
.whatsapp-float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    z-index: 1000;
    transition: all 0.3s ease;
}

.whatsapp-float img {
    width: 40px;
    height: 40px;
    margin-top: 10px;
}

.whatsapp-float:hover {
    background-color: #128c7e;
    transform: scale(1.05);
    cursor: pointer;
}

/*imagen de descargas */

/* Estilos para centrar la imagen y ocupar el 50% de la pantalla */


   











